<html>

<head>
    <title>CSS Website Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Smart Battery Saver | Ayuda </title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<ul id="nav">
    <li><a href="../index.html">Inicio</a></li>
    <li><a href="quees.html">¿Que es S.B.S.?</a></li>
    <li><a class="active" href="ayuda.html">Ayuda</a></li>
    <li><a href="contacto.html">Contacto</a></li>
</ul>

<body>

    <div class="header" id="header">
        <h1>AYUDA</h1>
        <h3>Smart Battery Saver</h3>
    </div>


    <div id="Pregunta_Respuesta">
        <h2>Preguntas frecuentes</h2>
        <div class="Preguntas">
            <p>Cual sería la mejor opción para combinar el rendimiento con la autonomía?</p>
        </div>
        <div class="Respuestas">
            <p>La opción "Moderado" es la más equilibrada, consigue el equilibrio perfecto entre una gran autonomia y un gran rendimiento.</p>
        </div>
        <div class="Preguntas">
            <p>La aplicación está libre de virus?</p>
        </div>
        <div class="Respuestas">
            <p>Si, trabajamos para ofrecer la mayor seguridad en todas nuestras aplicaciones.</p>
        </div>
        <div class="Preguntas">
            <p>Se puede pagar a través de paypal la suscripción premium?</p>
        </div>
        <div class="Respuestas">
            <p>Aun no, aunque estamos trabajando en ello para ofrecer esta opción y aumentar la seguridad de nuestros clientes.</p>
        </div>
    </div>


    <div class="row">
        <div class="two-column" id="section-3">
            <p>Si quieres cerrar todas las aplicaciones que estan consumiendo batería pulsa sobre "Optimiza tu dispositivo", de esta manera se forzara el cierre de las aplicaciones y se evitará un consumo excesivo de la batería.</p>
        </div>
        <div class="two-column" id="section-3">
            <img src="../img/optimiza.png">
        </div>
    </div>
    <div class="row" id="premium">
        <div class="two-column">
            <img src="../img/premium.png">
        </div>
        <div class="two-column">
            <p>Para eliminar la publicidad solamente debes hacerte premium, al eliminar la publicidad también ahorraras batería ya que no tendrás anuncios corriendo en segundo plano y consumiendo recursos.</p>
        </div>
    </div>

    <!-- Footer -->

    <div class="row" id="footer">
        <div class="two-column">
            <h2>CONTACTA CON NOSOTROS</h2>
        </div>
        <div class="four-column">
            <p>Llama al +34 636925508</p>
            <p>Escribe un e-mail a support@sgeoro.com</p>
        </div>
        <div class="four-column">
            <p><a href="https://twitter.com/home">Twitter</a></p>
            <p><a href="https://www.instagram.com/">Instagram</a></p>
        </div>
    </div>


</body>

</html>